@model App.Models.AdminPageData

@if (Model.tags.Count == 0) {
    <p>Категории не найдены.</p>
} else {
    <div class="user-list tag-admin-list">
        @foreach (var tag in Model.tags) {
            @await Html.PartialAsync("tag_item", tag)
        }
    </div>
}
