@{
    IEnumerable<string>? errors = null;
    if (ViewData["errors"] is IEnumerable<string> e) {
        errors = e;
    } else if (ViewData["errors"] is string s) {
        errors = new List<string>([s]);
    }
}

@if (errors != null) {
    @foreach (var msg in errors) {
        <span class="form-error">@msg</span>
    }
}
