@{
    IEnumerable<string>? results = null;
    if (ViewData["result_messages"] is IEnumerable<string> e) {
        results = e;
    } else if (ViewData["result_messages"] is string s) {
        results = new List<string>([s]);
    }
}

@if (results != null) {
    @foreach (var msg in results) {
        <span class="form-good">@msg</span>
    }
}
