@model App.Models.HomePageModel.LotCard;

<div class="lot-card hover-shadow">
    <img src="@Model.image_path" alt="" />
    <p>@Model.title</p>
    <span class="lot-card-price">@Model.price ₽</span>
</div>
